@import "tailwindcss";


*::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #18181B;
}

*::-webkit-scrollbar-track:hover {
  background-color: #18181B;
}

*::-webkit-scrollbar-track:active {
  background-color: #18181B;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #18181B;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A49E9E;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #A49E9E;
}

.scroll-container:hover *::-webkit-scrollbar-thumb {
  background-color: #A49E9E;
}
.scroll-container:active *::-webkit-scrollbar-thumb {
  background-color: #A49E9E;
}