---
import LibraryIcon from "../icons/Library.astro";
import HomeIcon from "../icons/Home.astro";
import SearchIcon from "../icons/Search.astro";
import SideMenuItem from "./SideMenuItem.astro";

import { playlists } from "@/lib/data";
import SideMenuCard from "@/components/SideMenuCard.astro"

import LoginButton from "./LoginButton.astro";
---

<nav class="flex flex-col flex-1 gap-2 overflow-hidden">
    <div class="bg-zinc-900 rounded-lg">
        <ul>

            <LoginButton/>

            <SideMenuItem href="/">
                <HomeIcon />
                Inicio
            </SideMenuItem>

            <SideMenuItem href="/search">
                <SearchIcon />
                Buscar
            </SideMenuItem>
        </ul>
    </div>

    <div class="bg-zinc-900 rounded-lg flex-1 overflow-y-scroll">
        <ul>
            <SideMenuItem href="/library">
                <LibraryIcon />
                Tu biblioteca
            </SideMenuItem>

            
        </ul>

        { 
            playlists.map(playlist => <SideMenuCard playlist={playlist} /> )
        }

    </div>
</nav>
